<html ng-app="kpApp">
<head>
	<meta charset="UTF-8" />
	
	<title>柯文哲文章集</title>

	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<style>
	.category,.article{	
		cursor:pointer;
	}

	ul {
		font-size: 22px;
	}

	ul:hover {
		background-color: hsla(120,80%,100%,0.2);
	}

	ul>li {
		margin-top: 5px;
	}

	ul>li:hover {
		text-decoration: underline;
	}

	</style>
</head>
<body ng-controller="MainCtrl as main" id="skrollr-body"
	>
	<header class="navbar navbar-static-top bs-docs-nav"
			id="top" role="banner"

				data-0 = "position:fixed; top:-50px; font-size: 11px;"
				data-500 = "position:fixed; top:0px; font-size: 16px;"
	>
		<div class="container">

			<div class="navbar-header">

				<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="index.html" class="navbar-brand">柯文哲 API 範例站</a>
			</div>
			<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
				<ul class="nav navbar-nav">
					<li class="active">
						<a href="index.html">文章範例</a>
					</li>
					<li>
						<a href="album.html">相簿範例</a>
					</li>
					<li>
						<a href="video.html">影片範例</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="http://kptaipei.tw" target="_blank">柯文哲官網</a></li>
					<li>
						<a href="http://unlimited.kptaipei.tw" target="_blank">野生官網活動介紹</a>
					</li>	        
				</ul>
			</nav>
		</div>
	</header>

	<div class="container" data-0="position: fixed;">
		
		<div class="col-md-4"
			style = "height:70%; overflow:auto;"
				data-0 = "position: fixed; top:60px; left:10px;
						background-color: hsla(120,20%,80%,1)"
				data-1000 = "top:60px; left:20px;
						background-color: hsla(60,20%,80%,1)">

			<h2
				data-0 = "font-size:18px;"
				data-1000 = "font-size:36px;" >文章類別目錄</h2>
			<ul class="categories"

				<li class='category'

				ng-repeat="(key, item) in main.categories"
				ng-click="main.clickOnCategory(item.id)"

				style = "cursor:pointer;"

				>

				{{item.name}}
					<ul class='articles'>
						<li class='article' ng-repeat="(key, article) in item.posts"

						ng-click="main.clickOnArticle($event, article)">{{article.title | showTitle}}</li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="page col-xs-12 col-sm-6 col-md-8 col-xs-6"

				data-0 = "position: fixed;
							top:60px; right:30px;
							height: 70%;
							width: 50%;
							overflow:auto;
							font-size:22px;line-height: 44px;
							background-color: hsla(60,70%,95%,1)"

				data-end = "right:40px; font-size:36px; line-height:72px;"

				ng-bind-html="main.content">
			
		</div>
	</div>
	
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular.min.js"></script>	
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular-route.min.js"></script>		
	<script src="app.js"></script>
	<script src="skrollr.min.js"></script>

	<script src="index.js"></script>

</body>
</html>